* {
    margin: 0;
    padding: 0;

    font-family: "Inclusive Sans", sans-serif;
    font-size: 16pt;
}

:root {
    --main-dark: #000000;
    --main-light: #dddddd;
    --input-dark: #333333;
    --input-light: #ffffff;

    --main-bg: var(--main-light);
    --main-text: var(--main-dark);

    --input-background: var(--input-light);
    --input-text: var(--input-dark);

    /* for border-radius */
    --curve: 4px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg: var(--main-dark);
        --main-text: var(--main-light);

        --input-background: var(--input-dark);
        --input-text: var(--input-light);
    }
}

/* to remove the top and left whitespace */

html {
    width: 100%;
    height: 100%;

    background: var(--main-bg);
    color: var(--main-text);
}

body {
    margin: auto;
    height: 100%;
    max-width: 800px;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form.action {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input.action {
    width: calc(100% - 6em);
    margin-right: 1em;

    background: var(--input-background);
    color: var(--input-text);

    border: none;
    border-radius: var(--curve);
}

button.action {
    width: 5em;
    padding: 2px;

    background: var(--input-background);
    color: var(--input-text);

    border: none;
    border-radius: var(--curve);
}

p {
    /* TODO: Can we add a little margin / padding to the main text?
     * It gets very close to the edges when narrowed down.
     */

    padding-bottom: 0.5rem;
    /* one line plus padding */
    min-height: 1.5rem;
}

q,
blockquote {
    background: var(--input-background);
    color: var(--input-text);
    border-radius: var(--curve);

    padding: calc(2 * var(--curve));
}

.margin-top {
    margin-top: 0.25rem;
}
